services:
  bot:
    container_name: bot
    build:
      context: .
      dockerfile: bot/Bot.Host/Dockerfile
    environment:
      - DOTNET_ENVIRONMENT=Production
      # BotConfiguration
      - BotConfiguration__Token=${DISCORD_TOKEN}
      - BotConfiguration__DatabaseOptions__ConnectionString=Host=db;Port=5432;Database=discord-prod;Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      # OpenAiSettings
      - OpenAiSettings__ApiKey=${OPENROUTER_TOKEN}
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: db
    restart: always
    ports:
      - "1055:5432"
    environment:
      - POSTGRES_DB=discord-prod
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: